<!-- -*- mode: XML -*- -->
<launch>
    <!-- Start Odrive Nodes -->
    <include file="$(find mirobot)/launch/base/odrive.launch" />
    <include file="$(find mirobot)/launch/base/teleop.launch" />
    <!-- Start YDLidar Nodes -->
    <include file="$(find mirobot)/launch/lidar/X4.launch" />
    <!-- Start Realsense Nodes -->
    <include file="$(find mirobot)/launch/camera/rs_t265.launch" />
    <!-- Start Robot State Description Nodes -->
    <include file="$(find mirobot_description)/launch/mirobot_description.launch" />
    <!-- Start Navigation Nodes -->
    <!-- <include file="$(find mirobot)/launch/navigation/gmapping_slam.launch" /> -->
    <include file="$(find mirobot)/launch/navigation/amcl.launch" />
    <include file="$(find mirobot)/launch/navigation/move_base.launch" />

    <!-- Remap frames -->
    <remap from="/camera/odom" to="/odom"/>
    <remap from="/laser_frame" to="/lidar_link"/>
</launch>
