<!-- -*- mode: XML -*- -->
<launch>
    <arg name="qb_alive_in_topic"          default="/qb_alive"/>
    <arg name="actuator_state_in_topic"    default="/odrive/status"/>
    <arg name="nav_state_in_topic"         default="/move_base/status"/>
    <arg name="qb_state_out_topic"         default="/qb_state"/>
    <arg name="output"                     default="screen"/>

    <arg name="port"         default="/dev/ttyS1"/>
    <arg name="baud"         default="115200"/>

    <!-- Start Teleop Nodes -->
    <include file="$(find qb)/launch/teleop/robot_pose.launch" />
    <include file="$(find qb)/launch/teleop/rosbridge.launch" />
    <include file="$(find qb)/launch/teleop/web_video_server.launch" />
    <include file="$(find qb)/launch/teleop/qb-web-server.launch" />

    <node pkg="rosserial_python" type="serial_node.py" name="rosserial">
        <param name="port"         value="$(arg port)"/>
        <param name="baud"         value="$(arg baud)"/>
    </node>
    
    <node pkg="qb_state" type="qb_state_node.py" name="qb_state" ns="qb_state_mngr" 
            output="$(arg output)">
        <param name="qb_alive_in_topic"          value="$(arg qb_alive_in_topic)"/>
        <param name="actuator_state_in_topic"    value="$(arg actuator_state_in_topic)"/>
        <param name="nav_state_in_topic"         value="$(arg nav_state_in_topic)"/>
        <param name="qb_state_out_topic"         value="$(arg qb_state_out_topic)"/>
    </node>

</launch>
