[submodule "ros_ws/src/ddynamic_reconfigure"]
	path = ros_ws/src/ddynamic_reconfigure
	url = https://github.com/pal-robotics/ddynamic_reconfigure.git
	branch = master
[submodule "ros_ws/src/realsense-ros"]
	path = ros_ws/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = 2.2.13
[submodule "ros_ws/src/ydlidar_ros"]
	path = ros_ws/src/ydlidar_ros
	url = https://github.com/YDLIDAR/ydlidar_ros.git
	branch = master
[submodule "ros_ws/src/odrive_ros"]
	path = ros_ws/src/odrive_ros
	url = https://github.com/whoobee/odrive_ros.git
	branch = master
