<launch>

    <arg name="rvizconfig"
         default="$(find mirobot_description)/rviz/slam.rviz"/>

    <include file="$(find mirobot_gazebo)/launch/mirobot_world.launch">
        <arg name="rvizconfig" value="$(arg rvizconfig)"/>
    </include>

    <node name="slam_gmapping" 
          pkg="gmapping" 
          type="slam_gmapping">

          <rosparam file="$(find mirobot_navigation)/config/slam_gmapping_params.yaml" />
          <remap from="scan" to="/mirobot/laser/scan" />

    </node>

</launch>