<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Constants -->
	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Chassis properties -->
	<xacro:property name="chassisHeight" value="0.1"/>
	<xacro:property name="chassisLength" value="0.44"/>
	<xacro:property name="chassisWidth" value="0.465"/>
	<xacro:property name="chassisMass" value="2.0"/>

	<!-- Caster wheel properties -->
	<xacro:property name="casterRadius" value="0.021"/>
	<xacro:property name="casterMass" value="0.09"/>
	<xacro:property name="casterOffsetX" value="0.232"/>

	<!-- Differential-drive wheels properties -->
	<xacro:property name="wheelWidth" value="0.05"/>
	<xacro:property name="wheelRadius" value="0.085"/>
	<xacro:property name="wheelMass" value="1"/>
	<xacro:property name="wheelOffsetY" value="0.105"/>

	<!-- Hokuyo laser properties -->
	<xacro:property name="hokuyoMass" value="0.01"/>
	<xacro:property name="hokuyoLength" value="0.05"/>
	<xacro:property name="hokuyoWidth" value="0.05"/>
	<xacro:property name="hokuyoHeight" value="0.055"/>
	<xacro:property name="hokuyoOffsetX" value="0.232"/>
	<!--xacro:property name="hokuyoOffsetX" value="0.05"/-->
	<xacro:property name="hokuyoOffsetZ" value="0.025"/>
	<!--xacro:property name="hokuyoOffsetZ" value="0.1125"/-->

	<!-- Camera properties -->
	<xacro:property name="cameraLength" value="0.11"/>
	<xacro:property name="cameraWidth" value="0.002"/>
	<xacro:property name="cameraHeight" value="0.035"/>
	<xacro:property name="cameraMass" value="0.01"/>
	<xacro:property name="cameraOffsetX" value="0.232"/>
	<xacro:property name="cameraOffsetZ" value="0.025"/>

</robot>
