<launch>
  <node pkg="joy" type="joy_node" name="joy_node"/>
  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node" args="_scale_angular:=4"/>
  <node pkg="rosserial_arduino" type="serial_node.py" name="serial_node"/>
  <node pkg="mirobot_driver" type="driver_node" name="driver_node"/>
</launch>
